/* 
	Author: Carrie Clifton
	File Name: styles.css
	Date: 09/05/2023
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

/* Common styles for header, nav, and footer */
body, header, nav, footer {
    background-image: url('../images/purpleback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Arial", sans-serif;
	text-align: center;
    color: #fff;
    padding: 3px
}

/* Sticky Header Styles */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    z-index: 100;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.sticky-header h1 {
    color: inherit;
}

.sticky-header nav li {
    display: inline-block;
    margin-right: 20px;
}

.sticky-header nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.sticky-header nav li a:hover {
    color: #fdd;
}

/* Main Content */
main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #95c3e4;
    text-decoration: none;
}

/* Buttons */
.btn {
    background-color: #375f1b;
    padding: 2%;
    margin: 2% auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.btn a {
    color: #ebf7e3;
    font-size: 1.25em;
    display: block;
}

/* Footer Styles */
footer {
    padding: 20px;
}

/* CSS to remove underline and decoration from anchor elements */
.social-media-icons a {
    text-decoration: none; /* Remove underlines and decorations */
}

/* Hide Elements */
.tablet-desk {
    display: none;
}

/* Sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Specific Section Styles */
.intro, .grid-container, .container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 40px 20px 20px 20px;
    font-size: 1.2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(0, 128, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid-item {
    color: #00FF00;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.3);
    font-size: 1.2em;
    text-align: left;
}

/* Specific Section Styles */
.education-container .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for desktop view */
    gap: 20px;
    background-color: rgba(0, 128, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.education-container .grid-item {
    color: #00FF00;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.3);
    font-size: 1.2em;
    text-align: left;
    transition: font-size 0.3s ease-in-out; /* Add transition effect for font size */
}

/* Adjust grid-item styles for mobile view */
@media screen and (max-width: 480px) {
    .education-container .grid-container {
        grid-template-columns: 1fr; /* Single column layout for mobile view */
    }
    
    .education-container .grid-item {
        font-size: 12px; /* Reduce font size for mobile view */
        background-color: rgba(0, 255, 0, 0.3);
        text-align: center; /* Center text in mobile view */
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px auto; /* Center the grid items horizontally */
    }
    
    .education-container .grid-item p {
        display: none;
    }
    
    .education-container .grid-item:hover p {
        display: block;
    }
}

/* Slideshow Styles */
.gallery {
    width: 100%;
    max-width: 512px;
    max-height: 512px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Contact Info Styles */
.contact-info {
    text-align: center;
    padding: 40px 20px;
}

.nostr-box {
    background-color: rgba(189, 147, 249, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
}

.nostr-box img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.nostr-box img:hover {
    transform: scale(1.1);
}

.nostr-box p {
    color: #542c85;
    margin-top: 10px;
    font-size: 1.1em;
}

.nostr-box a {
    color: #542c85;
    text-decoration: underline;
}

.nostr-box a:hover {
    text-decoration: none;
}

/* CSS for the video container */
.video-container {
    max-width: 100%; /* Make the video container responsive */
    overflow: hidden; /* Hide any overflow if the video is larger than its container */
    margin-top: 20px; /* Adjust the margin as needed */
}

/* CSS for the video element */
.video-container video {
    width: 100%; /* Make the video responsive within its container */
    height: auto; /* Maintain the video's aspect ratio */
}


/* CSS to style the play button (optional) */
.video-container video::-webkit-media-controls-play-button {
    display: block; /* Show the play button */
    background-color: #542c85; /* Customize the button's background color */
    color: rgba(189, 147, 249, 0.8); /* Customize the button's text color */
    border: none; /* Remove any borders */
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 5px; /* Add border radius for a rounded look */
}


/* Style for the service table */
.service-table {
	color: #542c85;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.service-table th, .service-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.service-table th {
    background-color: rgba(189, 147, 249, 0.8);
    font-weight: bold;
}

.service-table tbody tr {
    background-color: rgba(189, 147, 249, 0.8);
}

/* Specific Section Styles */
.contact-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px auto;
    text-align: center;
    margin: 10px 20px 10px 20px;
    font-size: 1.2em;
}

/* Center and style h3 in the contact container section */
.contact-container h3 {
    font-family: 'Rubik Bubbles', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #542c85;
    font-style: normal;
    font-size: 36px;
    color: rgba(189, 147, 249, 0.8);
    text-align: center;
}

/* Style for the contact form */
.contact-form {
    width: 100%;
    max-width: 360px;
    margin: auto auto; /* Center the contact form horizontally */
    padding: 20px;
    border: 1px solid #542c85;
    border-radius: 10px;
    background-color: rgba(189, 147, 249, 0.8);
    text-align: center; /* Center the contents inside the form */
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px auto; /* Center the input boxes horizontally */
    border: 1px solid #542c85;
    border-radius: 5px;
}

.contact-form button {
    background-color: #542c85;
    color: rgba(189, 147, 249, 0.8);
    padding: 10px 20px; /* Add horizontal padding for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for the product grid layout */
.tablecitytokers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.product-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-description {
    font-size: 14px;
    margin: 10px 0;
}

.product-price {
    color: #f00;
    font-weight: bold;
    margin: 10px 0;
}

/* Add a new class for the button styles */
.btn-primary {
    background-color: #375f1b;
    padding: 2%;
    margin: 2% auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.btn-primary a {
    color: #ebf7e3;
    font-size: 1.25em;
    display: block;
}

/* Styles for sorting options */
.sorting-options {
    margin: 20px 0;
}

.sorting-label {
    font-weight: bold;
    margin-right: 10px;
}

.sorting-select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styles for load more button */
.load-more-btn {
    background-color: #375f1b;
    color: #ebf7e3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for checkout and continue shopping buttons */
.checkout-btn,
.continue-shopping-btn {
    background-color: #542c85;
    color: #ebf7e3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

/* Styles for checkout modal */
.checkout-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.checkout-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
}

/* Styles for Bitcoin payment form */
.bitcoin-payment-form label {
    display: block;
    margin-bottom: 5px;
}

.bitcoin-payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .gallery, .slide {
        width: 100%;
        max-width: none;
        height: auto;
        max-height: none;
        position: relative;
        opacity: 1;
        transition: none;
    }

    .tablecitytokers {
        grid-template-columns: 1fr; /* Single column layout for mobile view */
    }

    .product-description {
        font-size: 12px; /* Adjust font size for mobile view */
    }

    .sorting-options {
        text-align: left;
        margin-top: 10px;
    }

    .load-more-btn {
        margin: 10px auto;
    }

    .checkout-btn,
    .continue-shopping-btn {
        margin: 10px 0;
    }

    .checkout-modal-content {
        padding: 15px;
        max-width: 100%;
    }

    .bitcoin-payment-form label {
        margin-bottom: 3px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gallery {
        width: 100%;
        max-width: 512px;
        max-height: 512px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .slide {
        position: relative;
        opacity: 1;
        transition: none;
    }
}

@media screen and (min-width: 1025px), print {
    .gallery, .slide {
        width: 100%;
        max-width: 512px;
        max-height: 512px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .slide {
        position: relative;
        opacity: 1;
        transition: none;
    }
}

