/* 
    Author: Kali2Zona
    File Name: styles.css
    Date: 09/07/2023
*/
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

/* Base Styles */
body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding-top: 20px;
    border: 0;
    
}

/* Common styles for header, nav, and footer */
body, header, nav, footer {
    background-image: url('../images/purpleback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
	box-sizing: border-box; /* Include padding and borders in element width */
}

body.sticky-header-active {
    padding-top: 102px; /* Adjust to match the height of the sticky header */
}

/* CSS for sticky header */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px;
    z-index: 100;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center horizontally */
}

/* Style the logo image directly within the header */
.sticky-header img {
    vertical-align: middle;
    margin-bottom: 5px; /* Add some space below the image */
    max-width: 212px;
    max-height: 85px;
}

/* Adjust the spacing between the logo and nav links */
.sticky-header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 5px; /* Add margin above the nav links */
}

.sticky-header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.sticky-header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: transform 0.2s;
}

.sticky-header nav ul li a:hover {
    transform: scale(1.1);
    font-weight: bold;
}


/* Main Content */
main {
	background-image: url('../images/purpleback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Include padding and borders in element width */
}

a {
    color: #95c3e4;
    text-decoration: none;
}

.section-padding {
    padding-top: 80px; /* Adjust the value to match the height of your sticky header */
}

/* Buttons */
.btn {
    background-color: #375f1b;
    padding: 2%;
    margin: 2% auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.btn a {
    color: #ebf7e3;
    font-size: 1.25em;
    display: block;
}

/* Footer Styles */
footer {
	background-image: url('../images/purpleback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

/* CSS to remove underline and decoration from anchor elements */
.social-media-icons a {
    text-decoration: none;
}

/* Hide Elements */
.tablet-desk {
    display: none;
}

/* Sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Specific Section Styles */
.intro, .grid-container, .container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(0, 128, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid-item {
    color: #00FF00;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.3);
    font-size: 1.2em;
    text-align: left;
    transition: font-size 0.3s ease-in-out;
}

/* Adjust grid-item styles for mobile view */
@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        font-size: 12px;
        background-color: rgba(0, 255, 0, 0.3);
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px auto;
    }

    .grid-item p {
        display: none;
    }

    .grid-item:hover p {
        display: block;
    }
}

/* Slideshow Styles */
.gallery {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Contact Info Styles */
.contact-info {
    text-align: center;
    padding: 40px 20px;
}

.nostr-box {
    background-color: rgba(189, 147, 249, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
}

.nostr-box img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.nostr-box img:hover {
    transform: scale(1.1);
}

.nostr-box p {
    color: #542c85;
    margin-top: 10px;
    font-size: 1.1em;
}

.nostr-box a {
    color: #542c85;
    text-decoration: underline;
}

.nostr-box a:hover {
    text-decoration: none;
}

/* CSS for the video container */
.video-container {
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

/* CSS for the video element */
.video-container video {
    width: 100%;
    height: auto;
}

/* ... (Remaining styles unchanged) */

/* Media Queries */
@media screen and (max-width: 480px) {
    .gallery, .slide {
        width: 100%;
        max-width: none;
        height: auto;
        max-height: none;
        position: relative;
        opacity: 1;
        transition: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        font-size: 12px;
        background-color: rgba(0, 255, 0, 0.3);
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px auto;
    }

    .grid-item p {
        display: none;
    }

    .grid-item:hover p {
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gallery {
        width: 100%;


        max-width: 512px;
        max-height: 512px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .slide {
        position: relative;
        opacity: 1;
        transition: none;
    }
}

@media screen and (min-width: 1025px), print {
    .gallery, .slide {
        width: 100%;
        max-width: 512px;
        max-height: 512px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .slide {
        position: relative;
        opacity: 1;
        transition: none;
    }
}
